@import "components/breadcrumb";
@import "components/group-item";
@import "components/info-panel";
@import "components/navbars";
@import "components/sidebar";
@import "components/splitter";
@import "components/table";
@import "components/widget";
@import "portlet/portlet_decorators";
@import "portlet/portlet_hello_world";

header {
	.portlet, .field-wrapper, .form-group {
		margin-bottom: 0;
	}

	.text-default {
		color: black;
		font-weight: 900;
	}

	.field-wrapper {
		position: absolute;
		right: 4px;
		top: 2px;

		a {
			color: #FFF;
		}
	}

	.portlet {
		margin-bottom: 0;

		&:hover {
			z-index: 1034;
		}
	}

	.user-avatar-link {
		position: relative;
	}

	.user-personal-bar {
		.fieldset {
			position: relative;
		}

		.sticker {
			bottom: auto;
			left: -1rem;
			right: auto;
			top: -1rem;
		}
	}

	.search-input {
		font-size: 0.88rem;
		padding: 0.28rem 2rem 0.28rem 1rem;
	}

	.user-avatar-image {
		display: inline-flex;
		margin-right: 0.5rem;
		vertical-align: middle;
	}

	

	.user-full-name {
		@include media-query(null, $screen-xs-max) {
			display: none;
		}
	}
}


/*--------------------*/
/* DYNAMIC CSS */
/*--------------------*/
#wrapper-menu {
	text-align: center;
	padding-left: 0px
  }

.row{
	display: block
}

#center {
	display: inline-block;
  }

.navbar-collapse .navbar-nav{
	flex-direction: column;
	list-style: disc;
    font-size: 17px;
	line-height: 1.59;
}

.input-group-item{
	width: auto;
}

#yui_patched_v3_18_1_1_1548275622449_2050{
    margin-top: 30px;
}

.navbar{
	background-color: #ff5a60;
	margin-top: 95px;
}

.navbar-class{
	background-color: #ff5a60;
}

.portlet-layout {
	.portlet {
		.management-bar, .navbar-underline {
			> .container-fluid-max-xl {
				padding-left: 0;
				padding-right: 0;
			}
		}

		.portlet-title-text {
			color: map-get($theme-colors, secondary);
			font-size: 0.875rem;
			font-weight: 600;
			line-height: 2.2;
			margin-bottom: 0;
			text-transform: uppercase;
		}
	}
}


#footer {
	background-color: $complementary-color;
	color: #FFF;
	margin-top: 1rem;

	> .container {
		padding-bottom: 3rem;
		padding-top: 3rem;
	}
}

.canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100%;
	background: url("/o/kyoung-liferay-theme/images/filler.png") center center/cover; }

.flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; }
	.flex.row {
		flex-direction: row; }
	.flex.wrap {
		flex-wrap: wrap; }

.overflow-wrap {
	overflow-x: hidden; }

#home {
	padding: 70px 0 70px 0;
	color: #616161;
	line-height: 11pt;
	position: relative; }

.company-name {
	color: #fff;
    display: inline-block;
    font-size: 45px;
    font-weight: 700;
    line-height: 1.35;
    text-align: center;
    text-transform: uppercase;
	margin-bottom: 15px; 
}

.main-container{
	margin-top: 10px;
}

body,
html {
	overflow-x:hidden;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	letter-spacing: 0.5px;
	line-height: 1.5;
	color: #1c1b1b;
}

ul {
	padding: 0;
	margin: 0;
}

ul li {
	list-style: disc;
	// font-size: 17px;
	line-height: 1.59;
}

a { 
	text-decoration: none;
	color: #2f2f2f;  
}

a:hover,
a:focus {
	outline: none;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	margin-top: 0;
}



img {
	border: none;
	max-width: 100%;
}

button {
	padding: 5px 15px;
	border: none;
}

button:focus {
	outline: none;
	border: none;
}




/*--------------------*/
/* HEADER */
/*--------------------*/

#mu-header {
	// background-image: url("/o/kyoung-liferay-theme/images/header-bg.jpg");
	display: inline;
	float: left;
	width: 100%;
	background-position: center center;
	background-attachment: fixed;
}

.mu-header-overlay {
	display: inline;
	float: left;
	opacity: 0.8;
	width: 100%;
}

.mu-logo-area {
	display: inline;
	float: left;
	width: 20%;
	z-index: 5;
	margin-left: -75%;
    margin-top: -4%;
}

.mu-logo {
	color: #fff;
	font-size: 45px;
	display: inline-block;
	font-weight: 700;
	margin-top: 60px;
}

.mu-logo:hover,
.mu-logo:focus {
	color: #fff;
}

.mu-menu-btn {
	position: fixed;
	right: 5%;
	top: 100px;
	color: #fff;
	font-size: 25px;
	border: 2px solid #fff;
	padding: 5px 14px;
	z-index: 6;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.mu-menu-btn:hover,
.mu-menu-btn:focus {
	border: 2px solid #fff;
}



/*=== Featured section ===*/

.mu-header-featured-area {
	display: inline;
	float: left;
	padding: 50px 0;
	width: 100%;
}

.mu-header-featured-img {
	display: inline;
	float: left;
	width: 40%;
}

.mu-header-featured-content {
	display: inline;
	float: right;
	/* margin-top: 200px; */
	text-align: center;
	width: 60%;
}

.mu-header-featured-content h1 {
	font-size: 45px;
	color: #fff;
	font-weight: 300;
	margin-bottom: 15px;
}

.mu-header-featured-content h1 span {
	font-weight: 700;
}

.mu-header-featured-content p{
	color: #fff;
}

/*--------------------*/
/* MENU */
/*--------------------*/

.mu-menu-close-btn {
	display: block;
	font-size: 25px;
	height: 48px;
	position: absolute;
	right: 15%;
	top: 55px;
	width: 48px;
	/* -webkit-transition: color 0.3s ease-in-out 0s;
	transition: color 0.3s ease-in-out 0s; */
}

.mu-menu-close-btn .mu-line {
	background-color: transparent;
	display: block;
	position: relative;
	height: 4px;
	width: 38px;
}

.mu-menu-close-btn .mu-line::before {
	background-color: #fff;
	content: "";
	display: block;
	height: 4px;
	position: absolute;
	top: 16px;
	-webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	-webkit-transition: -webkit-transform 0.3s ease-out 0s;
	transition: -webkit-transform 0.3s ease-out 0s;
	transition: transform 0.3s ease-out 0s;
	transition: transform 0.3s ease-out 0s, -webkit-transform 0.3s ease-out 0s;
	width: 38px;
	z-index: -1;
}

.mu-menu-close-btn .mu-line::after {
	 background-color: #fff;
	content: "";
	display: block;
	height: 4px;
	position: absolute;
	top: 16px;
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
	-webkit-transition: -webkit-transform 0.3s ease-out 0s;
	transition: -webkit-transform 0.3s ease-out 0s;
	transition: transform 0.3s ease-out 0s;
	transition: transform 0.3s ease-out 0s, -webkit-transform 0.3s ease-out 0s;
	width: 38px;
	z-index: -1;
}

.mu-menu-close-btn:hover .mu-line:before,
.mu-menu-close-btn:hover .mu-line:after {
	-webkit-transform: rotate(0deg);
	        transform: rotate(0deg);
} 

/* Menu overlay */

.mu-menu-full-overlay {
	background-color: rgba(0, 0, 0, 0.94);
	color: #fff;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	visibility: hidden;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
	width: 100%;
	z-index: 99999;
}

.mu-menu-full-overlay-show {
	visibility: visible;
}

.mu-menu-full-overlay-inner {
	display: inline;
	float: left;
	padding: 5% 15%;	
	width: 85%;
}

.mu-menu ul li {
	list-style: none;
}

.mu-menu ul li a {
	color: #fff;
	display: inline-block;
	font-size: 35px;
	font-weight: 700;
	line-height: 1.35;
	text-align: center;
	text-transform: uppercase;
	// margin-bottom: 10px;
	/* -webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s; */
}

.user-full-name{
	font-size: 20px;
	text-decoration: underline;
}

.user-avatar-image{
	display: none;
}

.sign-in{
	font-size: 20px;
    text-decoration: underline;
}

/*--------------------*/
/* FOOTER */
/*--------------------*/


#mu-footer {
	background-color: #f8f8f8;
	display: inline;
	float: left;
	width: 100%;
}

.mu-footer-area{
	display: inline;
	float: left;
	padding: 30px 0;
	text-align: center;
	width: 100%;
}

.mu-copy-right {
	margin-bottom: 0;
}

.mu-copy-right a {
	font-weight: 600;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}


/*--------------------*/
/* CUSTOM THEME COLORING */
/*--------------------*/

.mu-menu ul li a:hover,
.mu-menu ul li a:focus {
	color: #ff5a60;
}


.mu-header-overlay,
.mu-menu-btn,
{
	background-color: #ff5a60;
}
.mu-feature-content-right .media:hover {
	border-bottom: 1px solid #ff5a60;
}



/*--------------------*/
/* RESPONSIVE STYLE */
/*--------------------*/

@media (max-width: 1199px) {

	.mu-header-featured-content {
		/* margin-top: 120px; */
	}

}

@media (max-width: 991px) {	



	.mu-header-featured-content {
		/* margin-top: 35px; */
	}

	
	.mu-title-area {
		padding: 0 50px;
	}

	
	.mu-menu-btn {
		right: 5%;
	}
		
}

@media (max-width: 767px) {

	.mu-header-featured-content h1 {
		font-size: 35px;
	}

	
	.mu-menu-btn {
		top: 60px;
		color: #fff;
		font-size: 20px;
		padding: 5px 12px;
	}

	.mu-logo {
		margin-top: 25px;
	}

	// .mu-logo img {
	// 	width: 200px;
	// }
		
		
}


@media (max-width: 640px){

	.mu-header-featured-img,
	.mu-header-featured-content {
		width: 100%;
	}

	.mu-menu ul li a {
		font-size: 20px;
		font-weight: 300;
		line-height: 1;
	}

	.mu-title-area {
		padding: 0;
	}
			
}


@media (max-width: 480px) {

	// .mu-logo img {
	// 	width: 150px;
	// }


	.mu-menu-close-btn {
		right: 5%;
		top: 30px;
	}

				
	
}


@media (max-width: 360px){

	h2 {
		font-size: 25px;
	}
}

@media only screen and (min-width: 768px){
	body.open#wrapper {
		padding-left: 0px;
	}
}  
