@import "components/breadcrumb";

@import "components/group-item";

@import "components/info-panel";

@import "components/navbars";

@import "components/sidebar";

@import "components/splitter";

@import "components/table";

@import "components/widget";

@import "portlet/portlet_decorators";

@import "portlet/portlet_hello_world";


/* ---------- Header ---------- */

.site {
	background-color: $portlet-decorate-bg;
	color: $dark-color;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	letter-spacing: 0.5px;
	line-height: 1.5;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	margin-top: 0;
}

h1 {
	font-size: 38px;
}

h2 {  
	font-size: 32px; 
	line-height: 1.13; 
}

h3 {  
	font-size: 26px;  
}

h4 {  
	font-size: 22px;  
}

h5 {  
	font-size: 20px;  
}

h6 {  
	font-size: 18px;  
}

a {
	&:hover { 
		color: $bright-color;
	}
}

.logo-wrapper {
	margin-top: -4%;
	max-width: 300px;
	z-index: 2;
}

.logo-container {
	display: inline-block;
	font-size: 45px;
	font-weight: bold;
	margin-top: 60px;

	> .logo {
		border-width: 0;
		max-width: 100%;
	}

	&:focus, &:hover {
		color: $light-color;
	}
}

.menu-btn {
	background-color: $bright-color;
	border: 2px solid $light-color;
	color: $light-color;
	cursor: pointer;
	font-size: 25px;
	padding: 5px 14px;
	position: fixed;
	right: 5%;
	top: 100px;
	z-index: 6;

	&:before {
		content: '\f0c9';
		cursor: pointer;
		display: block;
		font-family: FontAwesome;
	}

	&:hover, &:focus {
		border: 2px solid $light-color;
	}


}

.menu-nav {
	letter-spacing: 15px;

	ul {
		li {
			a {
				&:hover, &:focus {
					color: $bright-color;
				}
			}
		}
	}
}

.canvas {
	background: url($canvas-image) center center/cover;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.flex {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.home {
	color: #616161;
	line-height: 11pt;
	padding: 70px 0;
	position: relative;
}

/* ---------- Corner Menu ---------- */

.menu-close-btn {
	&:before {
		content: '\f00d';
		cursor: pointer;
		display: block;
		font-family: FontAwesome;
		font-size: 50px;
		height: 48px;
		position: absolute;
		right: 15%;
		top: 55px;
		width: 48px;
	}
}

.company-details {
	.company-name {
		font-size: 20px;
	}
}

.company-name {
	color: $light-color;
	display: inline-block;
	font-size: 45px;
	font-weight: bold;
	letter-spacing: 15px;
	line-height: 1.35;
	margin-bottom: 15px;
	text-align: center;
	text-transform: uppercase;
}

/* ---------- Menu Overlay ---------- */

.menu-full-overlay {
	background-color: rgba(0, 0, 0, 1);
	color: $light-color;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	visibility: hidden;
	width: 100%;
	z-index: 999;
}

.menu-full-overlay-show {
	visibility: visible;
}

.menu-full-overlay-inner {
	margin-top: 15%;
}

.menu-nav {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		overflow: hidden;
	  }
	  ul:hover {
		overflow: visible;
	  }
	  li {
		position: relative;

		a {
			color: $light-color;
			display: inline-block;
			font-size: 35px;
			font-weight: bold;
			line-height: 1.35;
			text-align: center;
			text-transform: uppercase;
		}
	  }

	  a {
		display: block;
		padding: 10px 20px;
		color: #fff;
		font-weight: bold;
		text-decoration: none;
	  }
	  
	  /* second level */
	  ul ul {
		transition: max-height 1s;
	  }
	  ul li:hover > ul {
		max-height: 999px;
	  }
	  ul ul li {
		float: none;
	  }
	  
	  /* third level */
	  ul ul ul {
	    top: 60;
		height: 0;
		width: 100%;
		left: 15%;
		transition: width 0.5s;
	  }
	  ul ul li:hover > ul {
		height: 100%;
	  }
	
	.sign-in {
		font-size: 20px;
		text-decoration: underline;
	}
}

.user-full-name {
	font-size: 20px;
	text-decoration: underline;
}

.user-avatar-image {
	display: none;
}

.navbar-toggler {
	visibility: hidden;
}

.user-personal-bar {
	padding-bottom: 60px;
}

.navbar-collapse .navbar-nav {
	flex-direction: column;
	font-size: 17px;
	line-height: 1.59;
	list-style: disc;
}

.search-container {
	display: inline-block;
	letter-spacing: 10px;
}

/* ---------- Web Content ---------- */

.btn-group, .button-holder, .portlet-body, .dropdown {
	button, select, .btn, .btn-default, .btn-primary, .management-bar-light .navbar-nav .btn-unstyled {
		background-color: $bright-color;
		border-color: $light-color;
		color: $light-color;
		text-transform: uppercase;

		&:disabled {
			background-color: $bright-color;
			border-color: $light-color;
			color: $light-color;
			text-transform: uppercase;
		}

		&:hover {
			background-color: $light-color;
			border-color: $bright-color;
			color: $bright-color;
			text-transform: uppercase;
		}

		a {
			color: $light-color;
		}
	}
}

.child-menu {
	margin-left: 45%;

	.dropdown-item {
		color: $bright-color;
	}
}


.portlet-title-text {
	overflow: visible;
}

/* ---------- Footer ---------- */

#footer {
	background-color: $footer-bg;
	margin-top: 1rem;

	> .container {
		padding-bottom: 3rem;
		padding-top: 3rem;
		text-align: center;
	}

	a {
		color: $dark-color;
	}
}

/* ---------- Responsive Style ---------- */

@media (max-width: $screen-lg-min) {
	.menu-btn {
		right: 5%;
	}

	.mu-title-area {
		padding: 0 50px;
	}
}

@media (max-width: $screen-md-min) {
	.company-name {
		font-size: 25px;
	}
	
	.logo-container {
		margin-top: 25px;
	}

	.menu-btn {
		font-size: 20px;
		padding: 5px 12px;
		top: 60px;
	}

	.menu-close-btn {
		&:before {
			font-size: 20px;
			top: 30px;
		}
	}

	.menu-nav ul li a {
		font-family: 'Open Sans-Light';
		font-size: 20px;
		line-height: 1;
	}

	.mu-title-area {
		padding: 0;
	}
}

@media (max-width: $screen-sm-min) {
	.menu-close-btn {
		&:before {
			right: 5%;
			top: 20px;
		}
	}
}



/*=== Featured section ===*/

.header-featured-area {
	background-color: $bright-color;
	display: inline;
	float: left;
	padding: 50px 0;
	width: 100%;
}

.header-featured-img {
	display: inline;
	float: left;
	width: 40%;
}

.header-featured-content {
	display: inline;
	float: right;
	/* margin-top: 200px; */
	text-align: center;
	width: 60%;
}


.portlet-layout {
	margin: 0;
	width: 100%;

	.portlet {
		margin: -13px;

		.h1, .h2, .h3, .h4, .h5, .h6 {
			color: $dark-color;
			letter-spacing: 1;
			text-transform: uppercase;
		}

		.header-featured-content {
			h1 {
				p {
					color: #fff;
					font-size: 45px;
					font-weight: 300;
					margin-bottom: 15px;
				}
			}
			
			p {
				color: #fff;
				font-size: 15px;
				margin-bottom: 15px;
			}

		.portlet-title-text {
			color: $dark-color;
			font-weight: bold;
			line-height: 2;
			margin-bottom: 0;
			text-transform: uppercase;
			}
		}
	}
}

// .portlet {
// 	margin: -13px;
// 	.header-featured-content {
// 		h1 {
// 			p {
// 				color: #fff;
// 				font-size: 45px;
// 				font-weight: 300;
// 				margin-bottom: 15px;
// 			}
// 		}
		
// 		p {
// 			color: #fff;
// 			font-size: 15px;
// 			margin-bottom: 15px;
// 		}
	 
// 	}
// }

.header-featured-content h1 span {
	font-weight: 700;
}

.app-download-area {
	display: inline;
	float: left;
	margin-top: 50px;
	width: 100%;
}

.app-download-area h4 {
	color: #fff;
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 20px;
}

.apple-btn,
.google-btn,
.windows-btn {
	border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    display: inline-block;
    margin: 0 10px;
    padding: 11px 22px;
    text-transform: uppercase;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.apple-btn:hover,
.google-btn:hover,
.windows-btn:hover,
.apple-btn:focus,
.google-btn:focus,
.windows-btn:focus {
	background-color: #ffffff;
}

.apple-btn i,
.google-btn i,
.windows-btn i {
	display: block;
    float: left;
    font-size: 20px;
    line-height: 24px;
    margin-right: 10px;
}

.apple-btn span,
.google-btn span,
.windows-btn span {
	display: block;
	float: left;
	line-height: 24px;
}



/*--------------------*/
/* FEATURE SECTION */
/*--------------------*/


#feature {
	background-color: #fff;
	display: inline;
	float: left;
	width: 100%;
}

.feature-area {
	display: inline;
	float: left;
	padding: 100px 0;
	width: 100%;
}

.profile-img {
	margin-top: 80px
}

.title-area {
	display: inline;
	float: left;
	text-align: center;
	padding: 0 120px;
	width: 100%;
}

.title {
	color: #1c1b1b;
	margin-bottom: 15px;
	padding: 0;
	z-index: 10;
	text-transform: capitalize;
}

.title-dot {
	background-color: $bright-color;
	border-radius: 50%;
	height: 8px;
	width: 8px;
	display: inline-block;
	margin-bottom: 20px;
	position: relative;
}

.title-dot::before {
	background-color: $bright-color;

	content: '';
	position: absolute;
	left: 15px;
	height: 3px;
	width: 50px;
	top: 2px;
}

.title-dot::after {
	background-color: $bright-color;

	content: '';
	position: absolute;
	right: 15px;
	height: 3px;
	width: 50px;
	top: 2px;
}

.feature-content {
	background-color: #fff;
	display: inline;
	float: left;
	margin-top: 30px;
	width: 100%;
}

.feature-content-left {
	display: inline;
	float: left;
	width: 100%;
}

.feature-content-right {
	display: inline;
	float: left;
	margin-top: 30px;
	width: 100%;
}

.feature-content-right .media-left {
	padding-right: 15px;
}

.feature-btn {
	color: #fff;
	font-size: 18px;
}

.feature-btn:hover {
	color: #fff;
}

.feature-content-right .media {
	margin-top: 15px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
	padding-bottom: 20px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.feature-content-right .media p {
	font-size: 14px;
	margin-bottom: 0;
}

.feature-content-right .media-heading {
	font-size: 22px;
	font-weight: 500;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	
	p {
		font-size: 22px; 
		font-weight: 500;
	}
}

/*--------------------*/
/* VIDEO */
/*--------------------*/


#video {
	background-image: url("/o/kyoung-liferay-theme/images/city.jpg");
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
	display: inline;
	float: left;
	width: 100%;
}

.video-overlay {
	display: inline;
	float: left;
	opacity: 0.8;
	width: 100%;
}

.video-area {
	display: inline;
	float: left;
	padding: 200px 0;
	text-align: center;
	width: 100%;
}

.video-area h2 {
	color: #fff;
}

.video-content {
	display: inline;
	float: left;
	width: 100%;
}

.video-play-btn,
.video-close-btn {
	color: #fff;
	font-size: 22px;
	border: 2px solid #fff;
	border-radius: 50%;
	width: 60px;
	display: inline-block;
	height: 60px;
	line-height: 55px;
	text-align: center;
	margin-top: 100px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.video-play-btn:hover,
.video-play-btn:focus {
	color: #fff;
	-webkit-transform: scale(1.2);
	        transform: scale(1.2);
}

.video-close-btn {
	border-radius: 50%;
	color: #fff;
	font-size: 18px;
	border: 2px solid #fff;
	position: absolute;
	top: 0;
	right: 15%;
	display: inline-block;
	height: 50px;
	line-height: 45px;
	text-align: center;
	margin-top: 100px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	width: 50px;
}

.video-close-btn:hover,
.video-close-btn:focus {
	color: #fff;
	-webkit-transform: scale(1.2);
	        transform: scale(1.2);
}

.video-iframe-area {
	background-color: rgba(0,0,0,0.84);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	padding: 12% 0;
	text-align: center;
	z-index: 9999;
	display: none;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.video-iframe-display {
	display: block;
}


/*--------------------*/
/* DOWNLOAD */
/*--------------------*/

#download {
	background-image: url("/o/kyoung-liferay-theme/images/city2.jpg");
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	display: inline;
	float: left;
	position: relative;
	width: 100%;
}

#download::before {
	background: rgba(0,0,0,0.9);
	bottom: 0;
	content: '';
	left: 0;
	top: 0;
	right: 0;
	position: absolute;
	opacity: 0.84;
}

.download-area {
	display: inline;
	float: left;
	padding: 150px 0;
	width: 100%;
}

.download-area .title,
.download-area p {
	color: #fff;
}

.download-content {
	display: inline;
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 50px;
}


/*--------------------*/
/* FAQ */
/*--------------------*/

#faq {
	background-color: #f8f8f8;
	display: inline;
	float: left;
	position: relative;
	width: 100%;
}

.faq-area {
	display: inline;
	float: left;
	padding: 60px 0;
	width: 100%;
}

.faq-content {
	display: inline;
	float: left;
	width: 100%;
	text-align: center;
	padding: 0 150px;
	margin-top: 50px;
}

.faq-content .panel-default {
	border-color: #fff;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,0.06);
}

.faq-content .panel-default > .panel-heading {
	color: #333;
	background-color: #fff;
	border-color: #ddd;
	padding: 0;
}

.panel-body {
	text-align: left;
}

.faq-content .panel-title {
	text-align: left;

	a {
		color: $dark-color;
		display: block;
		padding: 12px 15px;
		-webkit-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
	}

	> span {
		margin-right: 5px;
	}

	&:hover {
		color: #ff5a60;
	}

	&:focus {
		color: #ff5a60;
	}
}

.faq-content .panel-default > .panel-heading + .panel-collapse > .panel-body {
	border-top-color: #ff5a60;
}

.panel-group .panel {
    margin-bottom: 15px;
}

.fa-minus, .fa-plus {
	color: $bright-color;
}

/*--------------------*/
/* CONTACT US */
/*--------------------*/

#contact {
	background-color: #fff;
	display: inline;
	float: left;
	width: 100%;
}

.contact-area {
	display: inline;
	float: left;
	padding: 100px 0;
	width: 100%;
}

.contact-header {
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
	padding: 0 120px;
}

.contact-content{
	display: inline;
	float: left;
	margin-top: 50px;
	padding: 0 120px;
	width: 100%;
}

.contact-content-liferay {
	display: inline;
	float: left;
	margin-top: 215px;
	width: 100%;
}

.contact-right {
	display: inline;
	float: left;
	width: 100%;
	margin-top: 10px;
	padding-left: 15px;
}

.contact-right-single {
	display: inline;
	float: left;
	margin-bottom: 35px;
	width: 100%;
}

.contact-right-single .icon {
	background-color: transparent;
	border: 1px solid #ff5a60;
	color: #ff5a60;
	font-size: 20px;
	display: block;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	border-radius: 50%;
	float: left;
	margin-right: 15px;
}

.contact-right-single p{
	margin-bottom: 0;
}


.contact-left {
	display: inline;
	float: left;
	width: 100%;
}

.contact-form .form-group input {
	background: transparent;
	border-radius: 10px;
	color: #333;
	font-size: 15px;
	border: 1px solid #888;
	height: 45px;
	margin-bottom: 24px;
}

.contact-form .form-group textarea {
	background: transparent;
	border: 1px solid #888;
	border-radius: 10px;
	color: #333;
	font-size: 18px;
	padding: 10px;
	height: 190px;
}

.contact-form .form-control:focus {
	background-color: #fff;
    outline: 0;
    box-shadow: none;    
} 

.contact-form .form-control::-webkit-input-placeholder {
	color: #888;
	font-size: 15px;
}

.contact-form .form-control:-moz-placeholder { /* Firefox 18- */
	color: #888;
	font-size: 15px; 
}

.contact-form .form-control::-moz-placeholder {  /* Firefox 19+ */
	color: #888;
	font-size: 15px;
}

.contact-form .form-control:-ms-input-placeholder {  
	color: #888;
	font-size: 15px;
}

.contact-form .button-default::after,
.contact-form .button-default > span {
	padding: 12px 40px;  
}

.social-media {
	display: inline;
	float: left;
	width: 100%;

	a {
		border: 1px solid #19191a;
		border-radius: 50px;
		color: #19191a;
		display: inline-block;
		font-size: 12px;
		margin-right: 10px;
		text-align: center;
		text-decoration: none;
		transition: all 0.2s ease-in-out 0s;
		width: 35px;
		height: 35px;
		line-height: 35px;
		font-size: 15px;
	}

	&:hover, &:focus {
		border: 1px solid #ff5a60;
		color: #ff5a60;
	}
}

#form-messages {
	margin-bottom: 10px;
    background-color: #fff;
}

.success {
	padding: 1em;
	margin-bottom: 0.75rem;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	color: #468847;
	background-color: #dff0d8;
	border: 1px solid #d6e9c6;
	-webkit-border-radius: 4px;
	 -moz-border-radius: 4px;
	      border-radius: 4px;
}

.error {
	padding: 1em;
	margin-bottom: 0.75rem;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	color: #b94a48;
	background-color: #f2dede;
	border: 1px solid rgba(185, 74, 72, 0.3);
	-webkit-border-radius: 4px;
	 -moz-border-radius: 4px;
	      border-radius: 4px;
}

.send-msg-btn {
	border: 1px solid $bright-color;
	background-color: $bright-color;
	color: $dark-color;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 1px;
	text-align: center;
	padding: 14px 24px;
	margin-top: 10px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	width: 130px;
	color: $light-color;
	border-radius: 10px;

	&:hover, &:focus {
		background-color: $light-color;
	}
}

.contact-form .form-control:focus {
	border: 1px solid #ff5a60;    
} 


#column-2 {
	margin-right: -8%;
}



/*--------------------*/
/* JQUERY CAROUSEL */
/*--------------------*/
.card-carousel {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: relative;
  }
  
  .card-carousel .my-card {
	height: 20rem;
	width: 12rem;
	position: relative;
	z-index: 1;
	-webkit-transform: scale(0.6) translateY(-2rem);
	transform: scale(0.6) translateY(-2rem);
	opacity: 0.3;
	cursor: pointer;
	pointer-events: none;
	background: #2e5266;
	background: linear-gradient(to top, #2e5266, #6e8898);
	transition: 1s;
  }
  
  .card-carousel .my-card:after {
	content: '';
	position: absolute;
	height: 2px;
	width: 100%;
	border-radius: 100%;
	background-color: rgba(0,0,0,0.3);
	bottom: -5rem;
	-webkit-filter: blur(4px);
	filter: blur(4px);
  }
  
  .card-carousel .my-card.active {
	z-index: 3;
	-webkit-transform: scale(1) translateY(0) translateX(0);
	transform: scale(1) translateY(0) translateX(0);
	opacity: 1;
	pointer-events: auto;
	transition: 1s;
  }
  
  .card-carousel .my-card.prev, .card-carousel .my-card.next {
	z-index: 2;
	-webkit-transform: scale(0.8) translateY(-1rem) translateX(0);
	transform: scale(0.8) translateY(-1rem) translateX(0);
	opacity: 0.6;
	pointer-events: auto;
	transition: 1s;
  }



  /* OWN CSS */
  .card-carousel .my-card:nth-child(0):before {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	font-size: 3rem;
	font-weight: 300;
	color: #fff;
  }
  
  .card-carousel .my-card:nth-child(1):before {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	font-size: 3rem;
	font-weight: 300;
	color: #fff;
  }
  
  .card-carousel .my-card:nth-child(2):before {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	font-size: 3rem;
	font-weight: 300;
	color: #fff;
  }
  
  .card-carousel .my-card:nth-child(3):before {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	font-size: 3rem;
	font-weight: 300;
	color: #fff;
  }
  
  .card-carousel .my-card:nth-child(4):before {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	font-size: 3rem;
	font-weight: 300;
	color: #fff;
  }





  /*--------------------*/
/* APPPS SCREENSHOT */
/*--------------------*/


#apps-screenshot {
	background-color: #fff;
	display: inline;
	float: left;
	width: 100%;
}

.apps-screenshot-area {
	display: inline;
	float: left;
	padding: 100px 0;
	width: 100%;
}

.apps-screenshot-content {
	display: inline;
	float: left;
	margin-top: 50px;
	width: 100%;
}

.apps-screenshot-slider {
	margin-left: 135px;
}


